:root {
    --primary-color: #3a3a3d;
    --secondary-color: lightblue;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
}

header h1 {
    background: var(--secondary-color);
    color: var(--primary-color);
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    color: var(--secondary-color);
}

.sub-title {
    display: flex;
    background-image: url(./img/forest.jpg);
    background-size: cover;
}

.sub-title h2 {
    background: var(--secondary-color);
    color: var(--primary-color);
}

.flex-row {
    display: flex;
    justify-content: space-evenly;
}

/* SECTION TITLE STYLES START */
.section-title {
    font-size: 24px;
    border-right: 3px solid;
    color: var(--primary-color);
    padding-bottom: 20px;
    flex-basis: 50px;
    padding-right: 20px;
    
}
  .primary-border {
    border-color: var(--primary-color);
}
  
.secondary-border {
    border-color: var(--tertiary-color);
}
  /* SECTION TITLE STYLES END */
.about-me {
    display: flex;
    justify-content: space-around;
}
.about-me h1 {
    text-align: left;
}

.work {
    display: flex;
}

.work h1 {
    text-align: left;
}

.app1 {
    border: 3px solid var(--secondary-color);
}
.app2 {
    border: 3px solid var(--secondary-color);
}
.contact-me {
    display: flex;
    justify-content: space-around;
}

.contact-me footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.contact-me footer ul li a {
    padding: 10px 15px;
    font-size: 1.25vw;
    color: var(--primary-color);
}